<?php
/**
 * Per deployment configuration
 */

/* Only enable following lines while debugging */
$app['debug'] = true;
ini_set('display_errors', 1);

/* Title of the website (used in HTML <title> and otherwise naming your site)*/
$app['title'] = 'My Digital Portfolio';

/* Public URL at which this site can be accessed (used when supplying URLs to
 * Facebook) */
$app['base_url'] = 'http://suzannedezwart.nl';

/* Define users that can login to the application.
 *
 * You can generate a password hash by running "generate-password-hash.php"
 * from the command line with a password as argument.
 */
$app['users'] = array(
  array('username' => '', 'password_hash' => '')
);

/* Instead of a dedicated start page you can open at a either:
 * - a specific portfolio group or tag:
 *    array('container' => 'some-container-code')
 * - a random container:
 *    array('random' => 'group')
 *   or
 *    array('random' => 'tag')
 *   or
 *    array('random' => array('group', 'tag'))
 *
 *  You can opt-out groups of the random start by adding the following in it's metadata (portfolio.yml):
 *    include-in-random-start: no
 *
 */
// $app['start_at'] = array('container' => 'some-container-code');

$app['facebook_app_id'] = '12345';

/* Optional: Show a facebook Follow Button for this (facebook-)URL in the
 * sidebar */
$app['facebook_sidebar_follow'] = 'https://facebook.com/zuck';

/* Show a facebook Like button per element */
$app['facebook_element_like'] = false;
