body {
  background-image: url('../images/tex2res5-blue.png');
}

#topbar h1 {
  display: block;
  text-align: center;
  margin: 0;
  font-weight: normal;
  padding: 20px 0 20px 200px;
  color: #000077;
  font-size: 32pt;
}

#main-container {
  background-color: #FFF;
  margin: 20px auto;
  width: 900px;
}

#sidebar {
  width: 180px;
  float: left
}

#sidebar ul {
  padding: 0 10px;
}

#main-content {
  width: 720px;
  float:left;
}

.error h2 {
  color: red
}

figure  {
  width: 700px;
  margin: 10px;
}

figure .elementcontainer {
  height: 600px;
  display: table;
  width: 100%;
  text-align: center;
}

figure .element {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
figure .element img {
  border: 1px solid silver;
}

figcaption {
  text-align: left;
  background-color: #d4dfdf;
  padding: 10px;
  height: 50px;
}

figcaption p:first-child {
  margin-top: 0;
}

figcaption p:last-child {
  margin-bottom: 0;
}

.dot-nav {
  text-align: center;
}

.dot-nav ul {
  padding: 0;
}

.dot-nav li {
  display: inline-block;
  padding: 0 10px;
}

.dot-nav li.current {
  font-weight: bold;
}
.dot-nav li a {
  text-decoration: none;
  color: black;
}

.elementtags {
  font-size: 13px;
  margin: 10px 0;
}

.elementtags ul {
  padding: 0;
  display: inline;
}

.elementtags li {
  margin: 0;
  display: inline;
  border: 1px #A4AFAF solid;
  background-color: #D4DFDF;
  padding: 2px 5px;
}

/* Utility */

/* Clearfix from h5bp.com/q */
.cf:before, .cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
