<div class="element">
<img width="{{ element.width }}" height="{{ element.height }}" src="{{ app.request.basepath }}/portfolio-content/{{ element.getPublicFilePath }}">
{% include "element.link_areas.html.twig" %}
</div>
