<!doctype html>
<html class="no-js" lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Digital Portfolio</title>
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/all.css">
</head>
<body>

<div id="main-container" class="cf">
  <img src="{{ app.request.basepath }}/images/header.png">
  {{ render('/sidebar') }}
  <div id="main-content">
    {% block content %}{% endblock %}
  </div>
</div>

</body>
</html>
