<!doctype html>
<html class="no-js" lang="nl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Digital Portfolio</title>
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
