{% extends layout %}

{% block content %}

<figure id="main-portfolio">
<div class="elementcontainer">
{% include "element.#{element.getElementType}.html.twig" %}
</div>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  <li {% if el is sameas(element) %}class="current"{% endif %}>
  <a href="{{ el.code }}">o</a></li>
  {% endfor %}
</ul>
</nav>

<figcaption>
{{ element.description }}
</figcaption>

</figure>
<script>$('#main-portfolio').portfolioBrowser('{{ element.code }}');</script>

{% endblock %}
