{% extends layout %}

{% block content %}

<figure id="main-portfolio">
<div class="elementcontainer">
{% include "element.#{element.getElementType}.html.twig" %}
</div>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  {% if el is sameas(element) %}
  <li>O</li>
  {% else %}
  <li><a href="{{ el.code }}">o</a></li>
  {% endif %}
  {% endfor %}
</ul>
</nav>

<figcaption>
{{ element.description }}
</figcaption>

</figure>
<script>$('#main-portfolio').portfolioBrowser();</script>

{% endblock %}
