{% extends layout %}
{% block browsing_code browsing.code %}

{% block content %}
<div id="main-portfolio">
<figure>
<div class="elementcontainer">
{% include "element.#{element.getElementType}.html.twig" %}
</div>

<nav class="dot-nav">
<ul>
  {% for el in browsing.elements %}
  <li {% if el is sameas(element) %}class="current"{% endif %}>
  <a href="{{ el.code }}">o</a></li>
  {% endfor %}
</ul>
</nav>

<figcaption>
{{ element.description|raw}}
</figcaption>
</figure>

<div class="elementtags cf">
tags:
<ul>
{% spaceless %}
{% for tag in element.tags %}
<li>{{ tag.name }}</li>
{% endfor %}
{% endspaceless %}
</ul>
</div>

<script>$('#main-portfolio').portfolioBrowser('{{ element.code }}');</script>

</div>
{% endblock %}
