<nav id="menu" class="sidebar">

{% set last_set_index = null %}
{% for group in portfolio_groups -%}

{% if last_set_index != group.getSetIndex %}
{% if last_set_index != null %}</ul>
{% endif %}
{% set last_set_index = group.getSetIndex %}
<ul class="sidebargroup portfolioset">
{% endif %}
  <li {% if browsing_code == group.code %}id="current-page"{% endif %}><a href="/portfolio/{{ group.code }}/{{ group.getFirstElement.code }}">{{ group.name }}</a></li>
{% endfor %}
</ul>
{% if app.facebook_sidebar_follow is defined %}
<div id="facebook-sidebar-follow" class="fb-follow" data-href="{{ app.facebook_sidebar_follow }}" data-layout="button" data-show-faces="false"></div>
{% endif %}
</nav>
