<nav id="tagcloud" class="sidebar">
<ul>
{% set min_weight = 1 %}
{% set max_weight = 4 %}
{% set multiplier = (max_weight - min_weight)/(maximum_element_count - minimum_element_count) %}

{% for tag in tags %}
<li class="tagweight{{ (min_weight + (tag.getElementCount() - minimum_element_count) * multiplier)|number_format(0) }}" {% if browsing_code == tag.code %}id="current-page"{% endif %}>
<a href="/portfolio/{{ tag.code }}/{{ tag.getElementId(tag.getFirstElement)|url_encode }}">{{ tag.name }}</a>
</li>
{% endfor %}
</ul>
</nav>
