<nav id="tagcloud" class="sidebar">
<ul>
{% for tag in tags %}
<li class="tagweight{{ (tag.getElementCount() // (maximum_element_count / 4))}}" {% if browsing_code == tag.code %}id="current-page"{% endif %}>
<a href="/portfolio/{{ tag.code }}/{{ tag.getElementId(tag.getFirstElement)|url_encode }}">{{ tag.name }}</a>
</li>
{% endfor %}
</ul>
</nav>
