{% extends layout %}

{% block content %}

<p>Ingelogd als: {{ user.username }}</p>
<h1>Bijwerken</h1>

<progress value="{{ completed }}" max="{{ total }}">{{ (completed // total) * 100 }}%</progress>

{% if not done %}
<form method="get" action="annuleren" class="progress_cancel">
  <input type="submit" value="Annuleren">
</form>
<script>window.location.reload(true/* force get */);</script>
{% else %}
<p>
Bijgwerkt!
</p>
{% endif %}

{% endblock %}
