<h2>Meerdere bestanden met zelfde naam</h2>

<p>
In het <code>portfolio.yml</code> in de map <strong>{{ failure.group }}</strong> wordt verwezen naar het element <strong>{{ failure.element }}</strong>.
Er zijn meerdere bestanden met dezelfde naam en andere extensies en dus kan de extensie niet automatisch bepaald worden.
<p>

<section class="causes">
Mogelijke oorzaken voor dit probleem zijn:
<ul>
  <li>Bestandsnamen kunnen (bijv. op Linux en OS X) hoofdlettergevoelig zijn. <code>fiets.jpg</code> en <code>fiets.JPG</code> zouden dus alledrie tegelijk kunnen bestaan</li>
</ul>
</section>

<p class="tip">
Gebruik zoveel mogelijk kleine letters in bestandsnamen.
</p>
