<h2><code>portfolio.yml</code> onjuist</h2>

<p>
In <code>portfolio.yml</code> in de map <strong>{{ failure.group }}</strong> zit een fout waardoor de software het bestand niet kan verwerken.
<p>

<section class="causes">
Mogelijke oorzaken voor dit probleem zijn:
<ul>
  <li>Het aantal spaties voor aan een regel is ergens onjuist. Gebruik voor elk inspringniveau 2 spaties</li>
  <li>Er is ergens een TAB-teken gebruikt in plaats van spaties om in te springen</li>
</ul>
</section>

<section class="exception">
De daadwerkelijke (interne) foutmelding is:
<p class="exception">
{{ failure.exception_message }}
</p>
</section>

<p class="tip">
Vergelijk je bestand regel voor regel met het voorbeeld-bestand.
</p>
