<h2>Mapnaam ongeldig</h2>

<p>
In de map met portfolio-groepen staat een map met de naam <strong>{{ failure.path }}</strong>.
Die naam bevat tekens die niet worden ondersteund.
<p>

<section class="explanation">
<p>
Namen van de mapen zijn gelijk code-namen van je portfolio-groepen. Die codenamen zijn ook onderdeel van de URL en in URLs zijn niet alle tekens toegestaan.
</p>
<p>
Er mogen onder andere geen spaties in zitten.
</p>
</section>

<p class="tip">
Gebruik zoveel mogelijk kleine letters in mapnamen en vervang spaties door streepjes. De vriendelijk leesbare naam geef je in het portfolio.yml bestand.
</p>
