<h2>Afbeelding ontbreekt</h2>

<p>
In <code>portfolio.yml</code> in de map <strong>{{ failure.group }}</strong> wordt verwezen naar het element <strong>{{ failure.element }}</strong>.
Het bijbehorende bestand kan niet worden gevonden.
<p>

<section class="causes">
Mogelijke oorzaken voor dit probleem zijn:
<ul>
  <li>Het bestand ontbreekt of heeft een verkeerde naam</li>
  <li>De naam in de <code>portfolio.yml</code> bevat een typfout</li>
  <li>Het type dat vermeld is in de <code>portfolio.yml</code> (<strong>{{ failure.type }}</strong>) komt niet overeen met het bestandstype</li>
</ul>
</section>

<p class="tip">
Gebruik zoveel mogelijk kleine letters in bestandsnamen.
</p>
