<h2>"{{ failure.key }}" in <code>portfolio.yml</code> van groep "{{ failure.group }}" ontbreekt</h2>

<p>
Het <code>portfolio.yml</code>-bestand in de map <strong>{{ failure.group }}</strong> mist een verplicht onderdeel.
Het missende onderdeel is: <strong>{{ failure.key }}</strong>
<p>
