<h2>Afbeelding kan niet worden geöpend</h2>

<p>
In het <code>portfolio.yml</code> in de map <strong>{{ failure.group }}</strong> wordt verwezen naar het element <strong>{{ failure.element }}</strong>.
Het bijbehorende bestand kan niet worden ingelezen.
<p>

<section class="causes">
Mogelijke oorzaken voor dit probleem zijn:
<ul>
  <li>Het bestand is gedeeltelijk geüpload. Upload het bestand opnieuw</li>
  <li>Het type dat vermeld is in de <code>portfolio.yml</code> (<strong>{{ failure.type }}</strong>) komt niet overeen met het bestandstype</li>
</ul>
</section>

<p class="tip">
Gebruik zoveel mogelijk kleine letters in bestandsnamen.
</p>
